version: '3.9'

services:

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  app:
    image: ${ECR_REGISTRY}/${ECR_REPOSITORY}:latest
    container_name: spring-app
    restart: always
    depends_on:
      - redis
    ports:
      - "8080:8080"

    env_file:
      - .env

    environment:
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOST: redis
      REDIS_PORT: 6379

volumes:
  redis-data:
